.search
  font-size 14px
  padding-bottom 30px
  border-bottom 1px solid #222

  input
    width 100%
    display block
    padding 10px 12px
    background-color #e6e5df
    border none 
    
  button
    display none