.group-list
  display flex
  flex-flow row wrap
  max-width 400px
  
  &__item
    display inline-flex
    padding 10px 12px
    background-color #eee
    min-width 80px
    justify-content center
    text-decoration none
    color #333
    margin 0 5px 5px 0

    &:hover
      background-color #f06027
      color #fff